

:root {
    --color-color: rgb(218, 218, 218);
    font-family: JetBrains Mono, SF Mono, Monaco, Consolas, monospace;
}

nextjs-portal {
  display: none;
}

body {
    background-color: rgb(32, 32, 32);
    color: rgb(252, 252, 252);
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
    color: rgb(102, 102, 102);
    margin-top: 60px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    height: 90vh;

}
.main > h1 {
    margin-top: 10px;
}

.game-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}




.game-table {
    display: grid;
    flex-grow: 2;
    width: 50vw;
    
    font-weight: bold;
    text-align: center;

    grid-template-columns: repeat(6, 1fr);
    gap:5px;
}

.game-table > div {
    border: 2px solid var(--color-color);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.input-container {
    align-self: center;
    margin-bottom: 10px;

}
.guess-input-container {

    display: flex;
    flex-direction: row;
    gap: 5px;

}
.selector {
  position: relative;
  display: block;
  margin: 0 auto;
  font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
  font-size: 18px;
}

.select-button {
    align-self: center;
    font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
    font-size: 18px;
    padding: 5px;
}

.new-answer-button {
    margin-top: 40px;
    width: 200px;
    align-self: center;
    font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
    font-size: 18px;
    padding: 5px;
}


.winner-modal {
    position: absolute; 
    left: 0; 
    right: 0; 
    top: 40%;
    margin-inline: auto; 
    width: fit-content;
    background-color: rgb(68, 68, 68);
    border-radius: 20px;
    border: 1px solid rgb(180, 180, 180);
    padding: 50px 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}