

:root {
    --color-color: rgb(218, 218, 218);
    font-family: JetBrains Mono, SF Mono, Monaco, Consolas, monospace;
}

nextjs-portal {
  display: none;
}

html {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

body {
    background-color: rgb(32, 32, 32);
    color: rgb(252, 252, 252);
    height: 100%;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
    color: rgb(102, 102, 102);
    margin-top: 2vh;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;

}
.main > h1 {
    margin-top: 10px;
}

.game-container {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    gap: 10px;

    width: 100%;
    max-width: 900px;
}

.game-head {
    font-size: 1rem;
    width: 1fr;
    min-width: 0;
    padding: 2px;
    overflow-wrap: break-word;
    word-break: break-all;
}


.game-table {
    display: grid;

    
    font-weight: bold;
    text-align: center;

    grid-template-columns: repeat(6, 1fr);
    gap:3px;


    flex-grow: 2;
}

.game-table > div {
    border: 2px solid var(--color-color);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.input-container {
    align-self: center;
    margin-bottom: 10px;

}
.guess-input-container {

    display: flex;
    flex-direction: row;
    gap: 5px;

}
.selector {
  position: relative;
  display: block;
  margin: 0 auto;
  font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
  font-size: 18px;
}

.select-button {
    align-self: center;
    font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
    font-size: 18px;
    padding: 5px;
}

.new-answer-button {
    width: max-content;
    align-self: center;
    font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
    font-size: 10px;
    padding: 2px;
}


.winner-modal {
    position: absolute; 
    left: 0; 
    right: 0; 
    top: 40%;
    margin-inline: auto; 
    width: fit-content;
    background-color: rgb(36, 36, 36);
    border-radius: 20px;
    border: 1px solid rgb(180, 180, 180);
    padding: 50px 20px;
    

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 10px;
    
}


.winner-modal > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.winner-modal > div > span:first-child {
    font-weight: bold;
}